/* Основные стили */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #2e2e2e;
    font-size: 100%;
}

/* Заголовок */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    z-index: 1000;
    margin-bottom: 0;
}

/* Заголовок */
.center-header {
    text-align: center;
    margin: 0;
    font-size: 24px;
    font-family: 'Arial', sans-serif;
}

h2 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}


/* Стиль для бургер-меню */
.burger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    position: absolute;
    left: 20px;
    top: 20px;
}

.burger span {
    width: 30px;
    height: 3px;
    background: #ffffff;
    transition: 0.3s;
}

/* Стили бокового меню */
.side-menu {
    position: fixed;
    top: 80px;
    left: -250px;
    width: 250px;
    height: calc(100vh - 80px);
    background: #D1C7B7;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease;
    z-index: 999;
}


/* Стили для элементов меню */
.side-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-menu ul li {
    padding: 0;
    margin: 0;
}


.side-menu ul li a {
    color: #333332;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    font-size: 20px;
    border-bottom: 2px solid #737373;
}

.side-menu ul li a:hover {
    background: #575d63;
    transition: background 0.3s ease;
}

/* Контент */
main {
    margin-left: 250px;
    padding: 120px 20px 60px;
}

/* Подвал */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
    font-size: 28px;
    font-family: 'Arial', sans-serif;
}

/* Бокового меню */
.side-menu.active {
    left: 0;
}

/* Стили для общего контейнера */
.full-container {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #D1C7B7;
    margin: 0;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 1400px;
    justify-content: center;
    align-items: center;
}

/* Стили для заголовков внутри контейнера */
.full-container h2 {
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}

/* Стили для абзацев */
.full-container p {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}

/* Для изображения */
.center-image {
    text-align: center;
    margin-top: 20px;
    height: auto;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

/* Снегопад анимация */
.snow-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.statistic-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .statistic-item {
        flex-direction: row;
    }
}

@media (min-width: 768px) {
    .full-container {
        grid-template-columns: 1fr 1fr;
    }
}

.statistic-item .analytics {
    width: 800px;
    height: auto;
    margin-right: 150px;
}

.statistic-item .statistic-box {
    width: 200px;
    overflow-x: auto;
}

.statistic-item .statistic-box:first-of-type {
    margin-top: 70px;
}

.statistic-box table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
    table-layout: fixed;
}

.statistic-box th, .statistic-box td {
    text-align: center;
    border: 2px solid #000;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.statistic-box th {
    font-size: 12px;
    background-color: #333;
    color: #fff;
    font-weight: bold;
}

.statistic-box td {
    background-color: #f9f9f9;
}

.statistic-box tr:nth-child(even) {
    background-color: #f2f2f2;
}

.statistic-box tr:hover {
    background-color: #ddd;
}

.www {
    border-collapse: collapse;
    border-spacing: 0;
}

.www th, .www td {
    padding: 0;
    margin: 0;
}

@media (min-width: 768px) {
    .side-menu {
        display: block;
    }

    .burger {
        display: none;
    }
}

@media (max-width: 768px) {
    main {
        margin-left: 0;
        padding: 100px 20px 60px;
    }

    .full-container {
        width: 100%;
        padding: 20px;
    }

    .statistic-item {
        flex-direction: column;
        align-items: center;
    }

    .statistic-item .analytics {
        width: 100%;
        margin-right: 0;
    }

    .statistic-item .statistic-box {
        width: 100%;
    }
}