{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="full-container">
     <img src="static/images/dever.jpg" alt="Web Developer" class="image-start">
    <section>
        <h2>Добро пожаловать!</h2>
        <p>На этом сайте об изучении карьеры Web-разработчика вы найдете подробную информацию о том,
            что это за профессия, какие навыки нужны для успешного старта, где обучаться,
            и благодаря аналитике узнаете об актуальности этой профессии.</p>
    </section>

    <section>
        <h2>Кто же такой Web-developer или Web-разработчик?</h2>
        <p>Web-разработка — это процесс создания сайтов и веб-приложений, который включает несколько этапов:
            разработку дизайна, создание структуры страниц (вёрстку), программирование клиентской и серверной частей,
            а также настройку веб-сервера.</p>
        <p>Web-разработчик — это специалист, занимающийся созданием и обслуживанием веб-приложений,
            сайтов и сервисов. Его задача — проектировать и реализовывать функционал и внешний вид веб-ресурсов,
            которые мы ежедневно используем.</p>
        <div class="center-image">
            <img src="static/images/web_developer.jpg" alt="Web Developer" style="max-width: 600px;">
        </div>
    </section>

    <section>
        <h2>История профессии</h2>
        <p>Веб-разработка началась в 1990-х с появлением интернета и HTML, созданного
            в CERN для обмена научными документами. Этот период, называемый эпохой web 1.0,
            отличался простыми сайтами, которые напоминали библиотеки — пользователи могли только
            просматривать содержимое. Создание контента требовало технических знаний, доступных немногим.</p>
        <p>Первый веб-сайт <a href="http://info.cern.ch" target="_blank">info.cern.ch</a>
            был создан 20 декабря 1990 года Тимом Бернерсом-Ли, изобретателем World Wide Web.
            Этот сайт размещался на сервере в Европейской организации по ядерным исследованиям (CERN).
            Он представлял собой простую HTML-страницу с текстом и гиперссылками. Выглядел он следующим образом:</p>
        <div class="center-image">
            <img src="static/images/first_site.jpg" alt="first site" style="max-width: 600px;">
        </div>
        <p>С приходом web 2.0 в конце 1990-х пользователи получили возможность публиковать
            и редактировать контент. Появились соцсети, такие MySpace, а в России — Живой Журнал.</p>
        <div class="center-image">
            <img src="static/images/journal.jpg" alt="journal" style="max-width: 600px;">
        </div>
        <p>Раньше сайты создавал веб-мастер — универсал, совмещавший программирование,
            дизайн и работу с HTML. С развитием технологий эта профессия исчезла.
            Теперь сайты и приложения разрабатывают команды специалистов: программисты,
            дизайнеры и продуктовые менеджеры. Сегодня за создание сайтов и приложений отвечают команды
            профессиональных web-разработчиков.</p>

        <h2>Основные задачи web-разработчика</h2>
        <ul>
            <li><strong>Frontend-разработка:</strong>
                <ul>
                    <li>Отвечает за пользовательский интерфейс и дизайн.</li>
                    <li>Создание визуальной части веб-сайта (то, что видит пользователь).</li>
                    <li>Работа с HTML, CSS, JavaScript.</li>
                    <li>Использование библиотек и фреймворков, таких как React, Angular, или Vue.js.</li>
                </ul>
            </li>
            <li><strong>Backend-разработка:</strong>
                <ul>
                    <li>Управляет серверной частью: хранение данных, обработка запросов, авторизация.</li>
                    <li>Работа с серверными языками: Python, PHP, Ruby, Java, Node.js и т. д.</li>
                    <li>Использование баз данных: MySQL, PostgreSQL, MongoDB и т. д.</li>
                </ul>
            </li>
            <li><strong>Fullstack-разработка:</strong>
                <ul>
                    <li>Комбинация frontend и backend работы.</li>
                    <li>Такие специалисты могут создавать как клиентскую, так и серверную части.</li>
                </ul>
            </li>
            <li><strong>DevOps и сопровождение:</strong>
                <ul>
                    <li>Настройка серверов, CI/CD-процессов (непрерывная интеграция и доставка кода).</li>
                    <li>Оптимизация производительности сайта.</li>
                </ul>
            </li>
        </ul>
        <h2>Навыки web-разработчика</h2>
        <ul>
            <li><strong>Hard Skills:</strong>
                <ul>
                    <li>Хорошее знание основ веб-технологий: HTML, CSS, JavaScript.</li>
                    <li>Умение работать с фреймворками и библиотеками (например, Bootstrap, React, Express).</li>
                    <li>Знание баз данных (SQL и NoSQL).</li>
                    <li>Опыт работы с RESTful и GraphQL API.</li>
                    <li>Понимание работы серверов и хостинга.</li>
                </ul>
            </li>
            <li><strong>Soft Skills:</strong>
                <ul>
                    <li>Умение работать в команде.</li>
                    <li>Быстрая адаптация к новым технологиям.</li>
                    <li>Навыки тайм-менеджмента.</li>
                    <li>Коммуникация с заказчиками или клиентами.</li>
                </ul>
            </li>
        </ul>
    </section>

    <section>
        <h2>Почему стоит выбрать web-разработку?</h2>
        <ul>
            <li><strong>Высокий спрос:</strong> компании постоянно нуждаются в создании,
                модернизации и поддержке сайтов и веб-приложений.</li>
            <li><strong>Возможности карьерного роста:</strong> эта сфера предлагает широкий спектр
                специализаций: frontend, backend, fullstack, UX/UI-дизайн, DevOps и многие другие направления.</li>
            <li><strong>Доступный старт:</strong> для начала карьеры вам потребуется
                только компьютер и доступ в интернет. Огромное количество бесплатных ресурсов делает вход в профессию простым.</li>
            <li><strong>Гибкость работы:</strong> web-разработка позволяет работать удалённо.</li>
            <li><strong>Креативность и инновации:</strong> эта профессия идеально подходит для творческих людей,
                так как требует не только технических знаний, но и способности придумывать нестандартные решения.</li>
            <li><strong>Хороший заработок:</strong> средний доход web-разработчиков выше, чем у
                большинства специалистов на рынке труда, а рост доходов прямо пропорционален вашему опыту и навыкам.</li>
            <li><strong>Постоянное развитие:</strong> web-технологии развиваются стремительно, поэтому
                вы будете регулярно осваивать новые инструменты, языки и подходы.</li>
        </ul>
    </section>
</div>
{% endblock %}