{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="full-container">
     <img src="static/images/dever.jpg" alt="Web Developer" class="image-start">
    <section>
        <h2>Добро пожаловать!</h2>
        <p>Веб-разработка — это одна из самых динамичных и востребованных профессий в мире.
            Этот сайт посвящен изучению карьеры веб-разработчиков, их роли в современной индустрии и аналитике, которая поможет вам
            выбрать направление в этой области.</p>
    </section>

    <section>
        <h2>История профессии</h2>
        <p>Первые шаги веб-разработки были сделаны в начале 90-х годов, когда Тим Бернерс-Ли создал первый веб-сайт.
            С тех пор профессия веб-разработчика значительно эволюционировала, охватывая как фронтенд-разработку (создание интерфейсов),
            так и бэкенд-разработку (работа с серверной частью).</p>
        <p>Сегодня веб-разработка — это не просто написание кода. Она включает в себя проектирование пользовательских интерфейсов,
            обеспечение безопасности данных и оптимизацию производительности веб-приложений.</p>
    </section>

    <section>
        <h2>Интересные факты</h2>
        <ul>
            <li><p>Первый веб-сайт все еще доступен в Интернете — его можно найти на
                <a href="http://info.cern.ch" target="_blank">info.cern.ch</a>.</p></li>
            <li><p>JavaScript, один из ключевых языков для веб-разработчиков, был создан за 10 дней.</p></li>
            <li><p>Сейчас более 70% интернет-трафика идет с мобильных устройств, что делает адаптивный дизайн
                одним из важнейших навыков веб-разработчика.</p></li>
        </ul>
    </section>

    <section>
        <h2>Почему стоит выбрать веб-разработку?</h2>
        <p>Веб-разработка — это не только возможность хорошо зарабатывать, но и способ творчески реализовать себя.
            Вы создаете продукты, которые могут использовать миллионы людей по всему миру. Кроме того,
            это одна из наиболее доступных профессий для входа в IT-индустрию.</p>
        <div class="center-image">
            <img src="static/images/web_developer.jpg" alt="Web Developer" style="max-width: 600px;">
        </div>
    </section>
</div>
{% endblock %}