{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web-разработчик</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <h1>Web-разработчик: Карьера и Аналитика</h1>
        </div>
    </header>
    <nav class="menu">
        <ul>
            <li><a href="{}">Главная</a></li>
            <li><a href="{}">Общая статистика</a></li>
            <li><a href="{}">Востребованность</a></li>
            <li><a href="{}">География</a></li>
            <li><a href="{}">Навыки</a></li>
            <li><a href="{}">Последние вакансии</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>Студент: Власенко Владислав Александрович, группа: РИ-230949</p>
    </footer>
</body>
</html>